<div>
  <p>The request has been successful</p>
  <ul>
    <li>Forma de pago: {{payment_type}}</li>
    <li>Referencia: {{external_reference}}</li>
    <li>ID del pago: {{collection_id}}</li>
  </ul>
</div>