<div>
  <p>Su compra ha sido exitosa</p>
  <p>Se registraron los siguientes datos</p>
  <ol>
    <li>Forma de pago: {{payment_type}}</li>
    <li>Referencia: {{external_reference}}</li>
    <li>ID del pago: {{collection_id}}</li>
    <li>ID de preferencia: {{preference_id}}</li>
  </ol>
</div>
<script src="https://www.mercadopago.com/v2/security.js" view="item"></script>